<div class="header">
  <h1>Check out the {{bird_name}}</h1>
</div>
<div class="card profilecard">
  
  <img src="/images/{{image}}">
  <div class="card-body">
    <h5 class="card-title">Bird Blurb:</h5>
    <p class="card-text">
      {{blurb}}
    </p>

    <h4>Total Votes: {{votes}}</h4>
  {{!-- //this may be a stretch goal --}}
    {{!-- <button class="btn btn-success" type="submit">Add a vote</submit>  --}}
  </div>
</div>

<form class="hiddenForm card profilecard" action="{{bird_id}}/voter" method="POST">
  <h2>Vote for the {{bird_name}}</h2>
  <br>
  <p>
    Your Name: <input type="text" name="name">
  </p>
  <p>
    Reason: <input type="text" name="quote">
  </p>
  
  <button class="btn btn-outline-light" type="submit" class="btn btn-success" name="birdVote" value={{bird_id}}>Vote for the {{bird_name}}!</button>
</form>




